* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

/*Utility Classes*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*End Utility Classes*/

.container {
    width: 1200px;
    margin: 5px auto;
}

header > img {
    height: 70px;
}

nav {
    margin: 10px 0;
    padding: 10px 0;
    color: darkgrey;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 25px;
    text-transform: uppercase;
}

.img {
    height: 400px;
    background-image: url('../img/banner.jpg');
    background-size: auto 150%;
    background-position: center;
    margin-bottom: 15px;
    position: relative;
    color: beige;
}

.img-text {
    width: 50%;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.top {
    margin-bottom: 15px;
    padding: 30px 0;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 3px;
}

.description {
    font-size: 18px;
    color: darkgrey;
    font-weight: bold;
}

.main-container section {
    margin-bottom: 15px;
}

.left, .right {
    width: calc(25% - 15px);
}

.center {
    width: 50%;
    margin: 0 15px;
}

.main-container .picture {
    height: 200px;
    background-position: center;
}


 .left > .picture {
    background-image: url('../img/img-1.jpg');
    background-size: auto 120%;
 }

 .center > .picture {
     background-image: url('../img/banner-2.jpg');
     background-size: auto 200%;
    }

.right > .picture {
    background-image: url('../img/img-3.jpg');
    background-size: auto 120%;
}

.opacity {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

h4 {
    margin: 20px 0 10px;
    color: rgba(0, 0, 0, 0.801);
}

p {
    font-size: 18px;
    color: darkgrey;
}


footer {
    margin: 20px 0 50px;
    text-align: center;
    color: rgba(0, 0, 0, 0.849);
}

.footer-text::after {
    content: "\2764";
    color: rgba(255, 0, 0, 0.904);
    margin-left: 5px;
    font-size: 25px;
}

